<div class="row" style="margin-top: 100px;">
    <div class="col-12 text-center">
        <ul class="footer-ul">
            <li>
                <a href="#" id="how-to-play">How to Play</a>
            </li>
            <li class="footer-ul-li-sep">|</li>
            <li>
                <i class="fab fa-github fa-lg"></i> <a href="https://github.com/fermanjj/frientences" target="_blank">Open Source Software</a>
            </li>
        </ul>
    </div>
</div>
{% include 'how_to_modal.html' %}